# Archivos de estado de Terraform (Secretos y pesados)
*.tfstate
*.tfstate.*

# El archivo de bloqueo de proveedores
.terraform.lock.hcl

# Carpeta de binarios de Terraform
.terraform/

# Archivos de variables (por si creas alguno luego)
*.tfvars
*.tfvars.json
